body{
    font-family: 'Lato', sans-serif;
    border: 0;
    padding: 0;
}
section{
    padding-bottom: 10%;
}
h1{
    font-weight: 800;
    font-size: 4vw;
    padding-top: 12%;
}
h2{
    text-transform: capitalize;
    font-weight: 800;
    font-size: 3rem;
    padding-top: 12%;
}
p{
    font-size: 2rem;
}
.flex-container{
    display:flex;
}
.flex-box{
    width: 40vw;
    padding-left: 10%;
}
.marked{
    color: rgb(245, 184, 70);
}

.flex-box img{
    width: 80%;
    padding-top: 12%;
}
.flex-box a{
    text-transform: capitalize;
    font-size: 2vw;
    color: white;
    text-decoration: none;
    background-image: linear-gradient( to right, rgba(255, 166, 0, 0.5), rgba(255, 81, 0, 0.699));
    margin-top: 10%;
    padding: 12px;
    border-radius: 25px;
}
#section-2{
    background-image: url(/images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2%;
}
.text-center{
    text-align: center;
    padding: 0 15%
}
.shadow-flex {
    
    width: 25vw;
    padding: 2%;
    margin: 2%;
    border-radius: 15px;
    box-shadow: 4px 2px 16px 1px rgb(107 126 126), 1px 1px 30px -10px rgb(107 126 126);
}
.shadow-flex h2{
    padding-top: 0%;
}

.shadow-flex img {
    width: 100%;
    max-height: 19vw;
    border-radius: 15px;
}