body{
    font-family: 'Lato', sans-serif;
    border: 0;
    padding: 0;
}

h1{
    font-weight: 800;
    font-size: 4vw;
    padding-top: 12%;
}
h2{
    text-transform: capitalize;
    font-weight: 800;
    font-size: 3vw;
    padding-top: 12%;
}
p{
    font-size: 2vw;
}
.flex-container{
    display:flex;
    padding-bottom: 5%;
}
.flex-box{
    width: 40vw;
    padding-left: 10%;
}

.marked{
    color: rgb(245, 184, 70);
}

.flex-box img{
    width: 80%;
    padding-top: 12%;
}
.flex-box a{
    text-transform: capitalize;
    font-size: 2vw;
    color: white;
    text-decoration: none;
    background-image: linear-gradient( to right, rgba(255, 166, 0, 0.5), rgba(255, 81, 0, 0.699));
    margin-top: 10%;
    padding: 12px;
    border-radius: 25px;
}
#section-2{
    background-image: url(/images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.text-center{
    text-align: center;
    padding: 0 15%
}
.shadow-flex {
    
    width: 25vw;
    padding: 2%;
    margin: 2%;
    border-radius: 15px;
    box-shadow: 4px 2px 16px 1px rgb(107 126 126), 1px 1px 30px -10px rgb(107 126 126);
}
.shadow-flex h2{
    padding-top: 0%;
}

.shadow-flex img {
    width: 100%;
    max-height: 19vw;
    border-radius: 15px;
}
.follower-section{
    margin: 0% 10%;
    display: flex;
    box-shadow: 4px 2px 16px 1px rgb(107 126 126), 1px 1px 30px -10px rgb(107 126 126);
    border-radius: 15px;
}
.follower{
    margin:1% 5%;
    text-align: center;      
}
.follower p a{
    text-decoration: none;
    color: black;
}
.follower :last-child{
    margin-right: 0%;
}
.order-here{
    
    padding-left: 30%;
    background-image: url(images/female/kisspng-healthy-diet-food-eating-nutrition-woman-diet-5b20e260c13c04.3441013515288817607915-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
    
    margin-bottom: 15%;
}
.order-here h2{
    padding-top: 0%;
    text-align:30%;
    color: blueviolet;
}
.order-here a{
    padding: 3%;
    background-image: linear-gradient( to right, rgba(84, 177, 96, 0.5), rgba(70, 30, 12, 0.699));
    border-radius: 5px;
    text-decoration: none;
}   

input {
    padding: 5% 20%;
    border-radius: 15px;
    align-items: center;
}


footer{
    background-color: black;
    text-align: center;
    color: rgb(252, 252, 252);
    padding-bottom:1% ;
}
footer h2{
    text-transform: uppercase;
    padding-top: 2%;
}